{% extends "blog/base.html" %} {% load tailwind_filters %} {% block content %}
<div class="border p-5 rounded-md shadow">
  <section class="flex justify-between items-center">
    <h1 class="text-3xl">Hi, {{user.username}}</h1>
    <div>
      <img src="{{user.profile.image.url}}" class="rounded-full w-[100px] h-[100px]" alt="profile-img" />
    </div>
  </section>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="w-8/12">
        <h2 class="text-2xl">Profile Info</h2>
        <hr class="my-2" >
        {{user_form|crispy}}
        {{profile_form|crispy}}
      </div>
    <hr class="my-2" />
    <div class="flex justify-end">
      <button class="bg-blue-500 text-sm hover:bg-blue-600 px-2 py-1 text-white rounded-md type="submit">Update Profile</button>
    </div>
  </form>
</div>
{% endblock content %}
