{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title %} {{title}} {% else %} Django Blog {% endif %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'blog/main.css' %}"
    />
  </head>

  <body>
    <nav
      class="flex justify-between fixed w-full top-0 left-0 items-center p-5 bg-black text-white"
    >
      <div class="flex gap-5 items-center">
        <h2 class="text-2xl">
          <a href="{% url 'blog-home' %}">Django Blog</a>
        </h2>
        <li><a href="{% url 'blog-home' %}">Home</a></li>
        <li><a href="{% url 'blog-about' %}">About</a></li>
      </div>
      <div class="flex gap-5 items-center">
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <form method="POST" action="{% url 'logout' %}">
          {% csrf_token %}

          <li><button type="submit">Logout</button></a></li>
        </form>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </div>
    </nav>


    {% if messages %}
      <section class="w-full mt-20"></section>
        <div class="w-6/12 text-center mx-auto bg-green-200 my-2 p-3">
          {% for message in messages %}
            {{message}}
          {% endfor %}
        </div>
      </section>
    {% endif %}



    <section class="m-10 mt-32 flex justify-between">
      <div class="w-9/12">{% block content %} {% endblock %}</div>
      <div class="w-3/12">
        <div class="border rounded-md ml-5 p-5 shadow mt-16">
          <h1 class="text-2xl mb-2 font-semibold">Sidebar</h1>
          <ul>
            <li>Latest Posts</li>
            <li>Announcement</li>
            <li>Calendars</li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
