{% extends "blog/base.html" %} {% load static %}{% block content %}
<div class="border rounded-md mb-5 p-5 shadow">
  <section class="flex gap-5 items-start">
    <img
      class="rounded-full w-3/12 h-[40px] w-[40px]"
      src="{{ blog.author.profile.image.url }}"
      alt="user-thumbnail"
    />
    <div class="w-9/12">
      <h2 class="text-2xl font-semibold">{{blog.title}}</h2>
      <p>{{blog.description}}</p>
    </div>
  </section>
  <hr class="my-1" />
  <div class="flex justify-between items-center">
    <div class="flex items-center">
      <form method="POST" action="{% url 'blog-like-update' %}">
        {% csrf_token %}
        <input type="hidden" name="blog_id" value="{{ blog.id }}">
        <button class="mt-1" type="submit">
        {% if liked %}
          <img class="h-5 cursor-pointer" src="{% static 'blog/img/heart.svg' %}" alt="like" />
        {% else %}
            <img class="h-5 cursor-pointer" src="{% static 'blog/img/heart-outline.svg' %}" alt="like-outline" />
        {% endif %}
      </button>
      </form>
      <small class="text-blue-500">{{blog.bloglike_set.count}} likes</small>
    </div>
    <div>
      <small class="text-blue-500 cursor-pointer">{{blog.author}}</small>
      <small>{{blog.created_at|date:'F d, Y'}}</small>
    </div>
  </div>
  {% if user == blog.author %}
  <hr class="my-1" />
  <div class="flex justify-between mt-2">
    <a href="{% url 'blog-update' blog.id %}"
      ><img class="h-5" src="{% static 'blog/img/create-outline.svg' %}" alt="edit"
    /></a>
    <a href="{% url 'blog-delete' blog.id %}"
      ><img
        class="h-5"
        src="{% static 'blog/img/trash-outline.svg' %}"
        alt="delete"
    /></a>
  </div>
  {% endif %}
</div>
{% endblock content %}
