{% extends "blog/base.html" %} {% block content %}
<h1 class="text-3xl font-medium mb-10">All Blogs</h1>
<ul>
  {% for blog in blogs %}
  <li class="border rounded-md mb-5 p-5 shadow">
    <h2 class="text-2xl font-semibold">{{blog.title}}</h2>
    <p>{{blog.description}}</p>
    <hr class="my-1" />
    <div class="flex justify-between">
      <small class="text-blue-500 cursor-pointer">{{blog.author}}</small>
      <small>{{blog.created_at}}</small>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
